body {
    padding-top: 50px;
    padding-bottom: 20px;
}

#demo1-table th, #demo1-table td {
    text-align: center;
}

.centered-text {
    text-align: center;
}

.no-content, .no-content:after, .no-content:before {
    content: none;
}

.livedate {
    text-align: left;
}

.livegroup {
    margin-bottom: 3em;
}

.demo3-risultato {
    margin-top: 1em;
    font-size: 12pt;
    font-weight: bold;
}